@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="container bg-site">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Forgot Password
                <small>Viswasai Dwarakamai</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Forgot Password Confirmation</li>
            </ol>
        </div>
    </div>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>

