
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bg-site">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Events
                <small>Viswa Sai Dwarakamai</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Events</li>
            </ol>
        </div>
    </div>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading text-capitalize">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        samoohika sri shiridi sai satyanarayana vratham
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-md-12">
                                <h4><u>SAMOOHIKA SRI SHIRIDI SAI SATYANARAYANA VRATHAM</u></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <img class="img-rounded img-responsive" src="~/Images/events-satyavratam.png" alt="saibaba">
                                </a>
                                @*<img src="~/Images/Phtoos/Services_01_750x450.png" class="img-rounded img-responsive" />*@
                            </div>
                            <div class="col-md-9 text-justify">
                                <h5><b>Significance</b></h5>
                                <p class="text-justify">
                                    The Origins of Sai Satya Vratam comes from the Story of Mr Bhimaji Patil from Sai Satchritha which goes as ......
                                    One Bhimaji Patil of Narayanagaon, Taluka Junnar, Dist. Poona, suffered in the year 1909 A.D. from a severe and chronic chest-disease which ultimately developed into Tuberculosis. He tried all sorts of pathos (remedies), but to no effect. Losing all hopes, he ultimately prayed to God - "Oh Lord Narayana, help me now". It is a well known fact that, when our circumstances are well off, we do not remember God, but when calamities and adversities overtake us, we are reminded of Him, So Bhimaji now turned to God. It occurred to him that he should consult Mr. Nanasaheb Chandorkar, a great devotee of Baba, in this respect. So he wrote to him a letter, giving all details of his malady, and asking for his opinion. In reply, Mr. Nanasaheb wrote to him that there was only one remedy left, and that was to have recourse to Baba's Feet. Relying on Mr. Nanasaheb's advice, he made preparations for going to Shirdi.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-justify">
                                <p class="text-justify">
                                    He was brought to Shirdi and taken to the Masjid, and placed before Baba. Mr. Nanasaheb and Shama (Madhavrao Deshpande) were then present. Baba pointed out that the disease was due to the previous evil karma, and was not at first disposed to interfere. But the patient cried out in despair that he was helpless, and sought refuge in Him, as He was his last hope, and prayed for mercy. Then Baba's heart melted an He said, "Stay, cast off your anxiety, your sufferings have come to an end. However, oppressed and troubled one may be as soon as he steps into the Masjid, he is on the pathway to happiness. The Fakir here is very kind and He will cure the disease, and protect all with love and kindness." The patient vomitted blood every five minutes, but there wa no vomiting in the presence of Baba. From the time, Baba uttered the words of hope and mercy, the malady took a favourable turn. Baba asked him to stay in Bhimabai's house, which was not a convenient and healthy place, but Baba's order had to be obeyed. While he was staying there, Baba cured him by two dreams. In the first dream, he saw himself as a boy suffering the severe pain of a flogging, which he received for not reciting his 'Swami-poetry' lesson before his class-master. In the second dream, some one caused him intense pain, and torture, by rolling a stone up and down over his chest. With the pain thus suffered in dream, his cure was complete, and he went home. He then often came to Shirdi, gratefully remembering what Baba did for him, and prostrated before Him. Baba also did not expect anything from devotees, but grateful remembrance, unchanging faith and devotion. People in the Maharashtra, always celebrate Satya-Narayana Puja in their homes every fortnight or month. But it was this Bhimaji Patil, who started new Sai Satya-vrata Puja, instead of Satya-Narayana-vrata Puja, in his house, when he returned to his village.
                                </p>
                                <p class="text-justify">
                                    If one does Satyanarayana vratham, that devotee will get Swamy’s blessings with thousand fold times of benefit in the form of health & wealth. If one does both vrathams (Shirdi Sai & Satya narayana Swamy) at a time, the one could imagine the multifold times benefit of attaining peace, health & wealth.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-capitalize">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        viswa sai samellanam
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-md-12">
                                <h4><u>VISWA SAI SAMELLANAM OUR SRI SHIRDI SAI BRAHMOTSAVAM</u></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <img class="img-rounded img-responsive" src="~/Images/events/viswasaisammelanam.jpg" alt="saibaba">
                                </a>
                            </div>
                            <div class="col-md-9 text-justify">
                                <p class="text-justify">
                                    This event is a continuation of the Parampara started by Guru Vani Amma to spread the concept of “Vasudhaika Kutumbam” (Global Sai Family) and bring together Sai Bandhus from across North America under a single roof bound by love for Baba. We always celebrate Viswa Sai Samellanam (Universal Sai Integration) as a Mahosthavam or Grand Festival.  For the first time it was in Montreal,Canada in April 2013, next in Minneapolis, Minnesota in April 2014 and then in Dallas, Texas in December 2014 & this year was in Cupertino, California 2015.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-capitalize">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        Satsang
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-md-12">
                                <h4><u>Satsang</u></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <img class="img-rounded img-responsive" src="~/Images/events/satsang.jpg" alt="saibaba">
                                </a>
                            </div>
                            <div class="col-md-9 text-justify">
                                <p class="text-justify">
                                    <b>
                                        "'Satsang’ destroys the bodily attachments. Such is the power of its strength. Once there is firm faith in it, there is truly liberation from the mundane world”.
                                    </b>
                                </p>
                                <p class="text-justify"><b>Significance of Satsang:</b> In Sanskrit Satsang means “Sat = True”, “Sangam = company”. In Indian philosophy (1) the company of the "highest truth," (2) the company of a guru, or (3) company with an assembly of persons who listen to, talk about, and assimilate the truth. Satsangis a devotional speech and chanting programs for the upliftment of the Spirutual Knowledge & Divine Love consciousness of a devotee. This typically involves listening to or reading scriptures, reflecting on, discussing and assimilating their meaning, meditating on the source of these words, and bringing their meaning into one’s daily life.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-justify">
                                <p class="text-justify"><b>Benifits:</b> The more you assimilate the teachings of satsang, the more you will be elevated from this earthly existence towards Divinity. Even a person who is not a sadhak, but regularly listens to satsang and reflects thereon, can become an excellent sadhak and even realize God, the Supreme Being. The bliss and peace that blossom in the heart as a result of listening to satsang are infinitely superior to even the pleasures of the heavens.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-capitalize">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        Bajans
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-md-12">
                                <h4><u>Bajans</u></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <img class="img-rounded img-responsive" src="~/Images/events/Bajans.jpg" alt="saibaba">
                                </a>
                            </div>
                            <div class="col-md-9 text-justify">
                                <p class="text-justify">
                                    <b>Bhajana Proceedings:</b> Sai Bhajana will begin with Sai Satcharitha Parayana (one chapter) followed by recitation of Prarthana Slokas, 3 minutes of Meditation, Siddi Vinayaka Ashtothram, Shirdi Sai Baba Ashtothram, Sai Vachanalu (11 sayings of Baba), Sai Mahimana Stotram, Prasada Nivedanam- offering Naivedhyam/Prasadam , Shej Arthi, Bhajana Songs and bhajana will be concluded with Mangala Arthi. After Bhajana Maha Prasadam will be served to all the devotees.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-capitalize">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                        Guru Poornima
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-md-12">
                                <h4><u>Guru Poornima:</u></h4>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <img class="img-rounded img-responsive" src="~/Images/events/gurupoornima.png" alt="saibaba">
                                </a>
                            </div>
                            <div class="col-md-9 text-justify">
                                <p class="text-justify">
                                    <b>
                                        "Guru Brahma Gurur VishnuGuru Devo Maheshwaraha
                                        Guru Saakshat Para BrahmaTasmai Sree Gurave Namaha"
                                    </b>
                                </p>
                                <p class="text-justify">
                                    Poornima means, the effulgent full moon. Guru means (Gu- ignorance, Ru-destroyer) he/she, who removes the darkness and delusion from the heart and illumines it with the higher wisdom.
                                </p>
                                <p class="text-justify">
                                    There is only one guru. He is God. That Guru is within you. You are seeking the guru all over the world. Your qualities are in you in the form of Brahma, Vishnu and Maheswara and can protect you, elevate you or ruin you. when you act righteously and pursue the right path, they will protect you by their divine potency.
                                </p>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 text-justify">
                                <p class="text-justify">
                                    The Poornima(Full Moon) Day in the month of Ashadha(July- August) is known as Guru Poornima. This is a very sacred day on which special worship is performed to the Acharyas(Gurus) , who, through their Infinite Compassion and Supreme Grace, have imparted the Knowledge of the Absolute(Brahma Vidya) through a long and continuous line of Acharyas(Guru Parampara) to all the Seekers of the Self.
                                </p>
                                <p class="text-justify">
                                    The full moon day in the Hindu month of Ashada (July-August) is observed as the auspicious day of Guru Poornima, a day sacred to the memory of the great sage Vyasa. All Hindus are indebted to this ancient saint who edited the four Vedas, He divided the Veda into four, namely Rig, Yajur, Sama and Atharva. Wrote the 18 Puranas, the Mahabharata and the Srimad Bhagavata. Vyasa even taught Dattatreya, who is regarded as the Guru of Gurus. It was this dividing and editing that earned him the honorific "Vyasa" (vyas = to edit, to divide).
                                </p>
                                <p class="text-justify">
                                    In ancient India GURU POURNIMA was celebrated as a very big festival to remember the people about that the human have the ability to cross their limitation. This was the day, when Krishna-Dwaipayana Vyasa – author of the Mahabharata – was born to sage Parashara and a fisherman's daughter Satyavati, thus this day is also celebrated as Vyasa Purnima.
                                </p>
                                <p class="text-justify">
                                    This was the day the “Adhi Muni” (The Adhi Yogi “The first yogi” of this world. It is another name of god Shiva) teaches the yogic techniques to his seven students (Known as Saptha Rishi). In this day, the full moon day this world got its first GURU. That is why this day is called as GURU POURNIMA. The Adhi yogi became as Adhi guru (first Guru) to teach all his yogic techniques to his student. This day is very important to Hindus because this was the first day this humanity came to know humans have ability to cross their limitation and also got the techniques to go beyond their five senses and can become enlightened Yogi (YOGI is a common name used to refer the human who crosses all his limitations and preserve this whole universe as a part of himself that is an enlightened Human).
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4><u>Celebration of Guru Poornima Day in Shirdi</u></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9 text-justify">
                                <p class="text-justify">
                                    The celebration of Guru Poornima began in Shirdi around 1908. One day Shri Baba told his disciple Shri Dada Kelkar, "Do you know this day is the day to approach Gurus? Bring your worship articles". Then Shri Kelkar and his friends looked up the calendar and found that
                                    the day was Guru Poornima day. They started worshipping Shri Sai Baba as their Guru, and that practice has continued till today not only in Shirdi but all over the world where prayers are offered to Shri Sai.
                                </p>
                                <p class="text-justify"><b>How does one celebrate Guru Poornima? </b></p>
                                <p class="text-justify">Guru Poornima is celebrated by devotees by performing Guru Pooja (offering prayers to the Guru) to our Lord Shri Sai Baba. Each Sai Devotee can either perform the Sai Guru Pooja(prayer) at home or attend a Sai Guru Pooja or sponsor a Sai Guru Pooja being performed at a Sai temple by offering donation or other articles used in Pooja (Pooja samagri).</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        @*<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-capitalize">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                        Celebration of Guru Poornima Day in Shirdi
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-md-12">
                                <h4><u>Celebration of Guru Poornima Day in Shirdi</u></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <img class="img-rounded img-responsive" src="~/Images/events/gurupoornima.png" alt="saibaba">
                                </a>
                            </div>
                            <div class="col-md-9 text-justify">
                                <p class="text-justify">
                                    The celebration of Guru Poornima began in Shirdi around 1908. One day Shri Baba told his disciple Shri Dada Kelkar, "Do you know this day is the day to approach Gurus? Bring your worship articles". Then Shri Kelkar and his friends looked up the calendar and found that
                                    the day was Guru Poornima day. They started worshipping Shri Sai Baba as their Guru, and that practice has continued till today not only in Shirdi but all over the world where prayers are offered to Shri Sai.
                                </p>
                                <p class="text-justify"><b>How does one celebrate Guru Poornima? </b></p>
                                <p class="text-justify">Guru Poornima is celebrated by devotees by performing Guru Pooja (offering prayers to the Guru) to our Lord Shri Sai Baba. Each Sai Devotee can either perform the Sai Guru Pooja(prayer) at home or attend a Sai Guru Pooja or sponsor a Sai Guru Pooja being performed at a Sai temple by offering donation or other articles used in Pooja (Pooja samagri).</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
                </div>*@
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-capitalize">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                        Dattaya Jayanthi
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-md-12">
                                <h4><u>Dattaya Jayanthi:</u></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <img class="img-rounded img-responsive" src="~/Images/events/dattajayanthi.jpg" alt="saibaba">
                                </a>
                            </div>
                            <div class="col-md-9 text-justify">
                                <p class="text-justify">
                                    Sri Dattatreya is a very ancient  incarnation, highly venerated through the ages. Dattatreya – a Universal Guru manifested in the recess of time of 'Kaliyug', when humanity had gone far from its pristine state and steeped into threshold of a time when all kinds of vices had already taken root, and the pious souls made fervent appealed for the salvage of the mankind surging forward in manifold way. He had descended on this earth to establish 'Satya' (the Universal Truth), 'Rta' (the Cosmic Order), Dharma',(the perennial principles), in all its entirety.
                                </p>
                                <p class="text-justify">Sage Atri was one of such who had ‘seen’ and experienced the Brahman, the eternal Wisdom. To him was born a son, the product of the Grace or the Divine Will, which was the manifestation of all three Primal Energies of Brahma, Vishnu and Shiva. He was ordained with the three energies; He came to have the concentrated wisdom of the three God-heads, or symbolically three heads. The three heads signified as Brahma – ‘Tejas’ personified, Vishnu –‘Ojas' personified, Shiva – ‘Tapas’ personified. Under these heads, illumination of knowledge, vigorosity of action and stringency of penance were represented as three aspects or state of being of the same.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-justify">
                                <p class="text-justify">
                                    <b>
                                        Birth:
                                    </b>
                                </p>
                                <p class="text-justify">Dattatreya had descended into the realm of world as progeny of Atri and Anusuya, a sage couple of the Vedic age. Anusuya became very famous for her devotion to her husband. She was the embodiment of chastity. Such was her spiritual power that hard, uneven earth turned soft and smooth for her as she walked about. This pious woman induced jealousy and envy in others, however, and the three Gods decided to prove these doubting elements how wrong they were.</p>
                                <p class="text-justify">
                                    They transformed themselves into mendicants, approached the hermitage of sage Atri and begged for alms. At that time sage Atri was away at the river offering his daily oblations. Anusuya came out and offered food to them. They made a strange request; the food be prepared and served to them by Anusuya, in the nude. In the Indian tradition any 'athithi' (guest) cannot be turned away, as they are considered to be an aspect of God. Hence she was placed in a dilemma. She smiled to herself and reflected thus: ‘I am totally purified by the long association with the holy sage Atri. What harm can the god of lust ever do to me? So I do fear nothing. As they have sought food from my hands, I look upon them as my own children and not as strangers and grown up men!’ Her thoughts – the thoughts of a pious and chaste person – instantly became reality; the elderly guests became babies!
                                    Sage Atri on his return to the hermitage saw his wife Anusuya fondling three babies. Anusuya said "These children are the gift of God to us who have been childless so far". Sage Atri was overjoyed and named them Datta, which means 'given'. At this the three Gods reverted to their real forms and disclosed the truth. They extolled the power of chastity and purity of Anusuya which vanquished the combined and colossal powers of all three of them. Sage Atri and Anusuya prayed that they should remain as their sons. They consented and the three Gods merged into one body. This is how Shri Dattatreya incarnated and is known as Gurudeva Datta – the Guru of all Gurus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-capitalize">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                        Sri Guru Charitha Akhanda Parayanam
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-md-12">
                                <h4><u>Sri Guru Charitha Akhanda Parayanam</u></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <img class="img-rounded img-responsive" src="~/Images/events/gurucharitra.png" alt="saibaba">
                                </a>
                            </div>
                            <div class="col-md-9 text-justify">
                                <p class="text-justify">
                                    Shri Guru Charitra is a holy book of Datta Sampradaya written by Sri Saraswati Gangadhar Sakhare in 15th Century. The book recounts the Holy Life of Sri Dattatreya, Sri Sripada Sri Vallabha (around 1320 A.D – 1350 A.D) and Sri Narasimha Saraswati (around 1378 A.D – 1458 A.D), his philosophy and teachings. This Book was translated into telugu and english by Sri Acharya Ekkirala Bharadwaja garu.
                                </p>
                                <p class="text-justify">
                                    Sri Saraswati Gangadhar was a Descendant of Sri Sayamdev who was a Close Disciple to Sri Narasimha Saraswati. Saraswati Gangadhar refers to himself as Namadharaka in the Book. The book is written in the form of a conversation between Siddha Muni (who too was a disciple of Shri Narasimha Saraswati) and Namdharak who is listening to Sri Siddha.
                                    Namadharaka spent most of his Life at Kadaganchi, a village nearby Ganagapur. He meets Sri Siddha Muni near Ganagapur and when he realizes that Sri Siddha Muni was a Disciple of Sri Guru, he requests him to narrate the Holy Life of Sri Narasimha Saraswati. Sri Siddha Muni takes Namadharak to Bhima-Amarja Sangam and then starts narrating “Sri Guru Charitra”.
                                </p>
                                <p class="text-justify">Many Devotees read Guru Charitha regularly at home. Some read on festive days, some do parayanam for 3 or 7 days. Some Devotees want to read it regularly but the hectic lifestyle takes us away from this inclination. So periodically we arrange Akhanda Parayanam to read the entire Book in a single day.We affably request all local Sai Devotees to participate in this event, and devotees from other parts of the world to participate by Conference Call (by phone).</p>
                            </div>
                        </div>
                        @*<div class="row">
                            <div class="col-md-12 text-justify">
                                <p class="text-justify">Many Devotees read Guru Charitha regularly at home. Some read on festive days, some do parayanam for 3 or 7 days. Some Devotees want to read it regularly but the hectic lifestyle takes us away from this inclination. So periodically we arrange Akhanda Parayanam to read the entire Book in a single day.We affably request all local Sai Devotees to participate in this event, and devotees from other parts of the world to participate by Conference Call (by phone).</p>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading text-capitalize">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                        nama sankeerthanam
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-md-12">
                                <h4><u>NAMA SANKEERTHNAM</u></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <img class="img-rounded img-responsive" src="~/Images/events/bajan.JPG" alt="saibaba">
                                </a>
                                @*<img src="~/Images/Phtoos/Services_01_750x450.png" class="img-rounded img-responsive" />*@
                            </div>
                            <div class="col-md-9 text-justify">                             
                                <p class="text-justify">
                                    We are gifted with a human body as a result of merits in the past births. One should make utmost use of this human form as one cannot be sure of getting human body again. Hence, with our body, we should attain devotion and liberation. Therefore, we must always be on the alert. In Bhagavat Gita, Lord Sri Krishna says "He who remembers me in his last moment in this world comes to me. Otherwise, he goes to whatever he thinks of, at his last breath". We cannot be certain that we will be able to recollect Lord Krishna's name at our last breath and we never know when we will breathe our last. Hence, constant practice of namasankeertan is essential.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-justify">
                                <p class="text-justify">
                                    The main purpose and objective of human form is to attain the Lotus feet of Sri Sai Bhagawan. To achieve this, different methods have been prescribed in different yugas. Of them all, the easiest path is prescribed for us in this Kali Yuga i.e., nama sankeertanwhich means uttering the holy name of the Lord continuously as one breathes.
                                    <br />The last sloka of Bhagavatham describes the importance of Nama Sankeertanam as :
                                </p>
                                <p class="text-center">
                                    NAAMA SANKEERTHANAM YASYA SARVAPAPA PRANAASHANAM
                                    <br />PRANAMO DUKKHA SAMANAHA THAM NAMAAMI HARIM PARAM
                                    <br /><br />
                                    which means,
                                    <br /><br />
                                    He, the Lord, whose Name when chanted destroys all sins,
                                    <br />He, who removes all sorrows when one prostrates,
                                    <br />Unto such Hari, I bow down. 
                                </p>
                            </div>
                            <div class="col-md-12 text-justify">
                                <p class="text-justify">
                                    <span style="color: #669966;">
                                        <strong>What is Nama?</strong></span>
                                        <br />
                                        <strong>"Nama"</strong>&nbsp;means Name. The word name has evolved from the Sanskrit word "Nama". Nama or name refers to the name of a person, place or thing. Without a name, unique identification of entities in the world is not possible and without identification communication is not possible and without communication nothing is possible in this world. The whole world will come to stand still. So is the importance of the Name.
                                        <br />
                                        When you call a person by his name, immediately he responds by some means. When human beings respond to a call by his/her name, what will happen when you call God by his name? God the loving mother of all creatures (Movable or immovable) will definitely respond to your call. In fact He is waiting for your call&hellip; But we never call Him.
                                        <br />
                                    <span style="color: #669966;">
                                        <strong>How do we make our call reach him?</strong>
                                    </span>
                            </div>
                            <div class="col-md-12 text-justify">
                            <div>
                                <strong>God exists in two forms.</strong>
                                <u></u>
                                <u></u>
                            </div>
                            <div>
                                1. Saguna – With name and form (Bhagwan)<u></u><u></u>
                            </div>
                            <div>
                                2. Nirguna – Nameless and formless (Bhrama Swaroopam)<u></u><u></u>
                            </div>
                            <div>
                                The nirguna bhramam being nameless and formless in nature, worshipping or loving the nirguna bhramam is not possible. We humans, beings the highest
                                creation of God cannot do it, no need to mention about other creatures. So, the nirguna bhramam due to its endless love and mercy entered into a stage
                                where in it have numerous forms with numerous names. At this level it is called as Saguna bhramam or Bhagwan. Bhagwan can be loved and worshipped. Bhagwan
                                has numerous names, he can be called upon by any names and he can be worshipped in any forms.<u></u><u></u>
                            </div>
                            <div>
                                Among his numerous forms and names, you can choose the name you like. (Example: Rama, Krishna, Siva, Jesus, Allah, Sairam, Narayana, Govinda, Hari, Vittal,
                                Vasudeva, Radhe, Shyam). The numerous names of God are referred as "<em>Bhagwan Nama</em>" which means Name of Bhagwan. Now that you have chosen the name
                                you like, you can start chanting (Continuously/repeatedly telling the name). This is called 'Nama Sankeerthanam' (chanting of Bhagwan Nama) and this is the
                                very dharma prescribed exclusively for this Kali Yuga. This is the Yuga dharma.<u></u><u></u>
                            </div>
                            <div>
                                <span style="color: #669966;">
                                    <strong>Kali Yuga and Nama</strong>
                                    </span>
                                    <u></u>
                                    <u></u>
</div>
                            <div>
                                <strong>Why is Nama Sankeerthanam</strong>
                                <strong>meant as Kali Yuga Dharma?</strong>
                                <br />
                                In the Kali Yuga, people are incapable of doing any dharmas. The concept of Dharma will lose its foot hold in Kali Yuga. Kali Yuga is a period of decadence
                                of all Dharma by all sects of people. The following are few dhosha gunas that one can easily find in the people in Kali Yuga.<u></u><u></u>
                            </div>
                            <div align="center">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td width="5%">
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td width="95%">
                                                People will do what they are not supposed to do.<u></u><u></u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                People shall not do what they are supposed /expected to do.<u></u><u></u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                Tradition would be thrown overboard.<u></u><u></u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                Each sect will boast itself as Supreme.<u></u><u></u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                Virtues like chastity, righteousness and obstinacies would be interpreted according to their own whims and fancies.<u></u><u></u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                Evil and transgression would be wide spread.<u></u><u></u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                Woman folk would indulge in falsehood, adultery, and deceit and speak harsh languages.<u></u><u></u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                Bachelors (Bhramachaaries) will no longer follow their duties and daily virtues.<u></u><u></u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                House holders will neglect their prescribed rituals like charity and sacrifice<u></u><u></u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                Vanaprastas would not retire to the forest, but cling to cities.<u></u><u></u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                Sanyaasis would have relationship with their kith and kin.<u></u><u></u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                Kings would levy burdensome taxes and fail to protect their subjects.<u></u><u></u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                All the four group of people, Brahmins, Vysyaas, Kshatriyaas and Sudraas would commit offenses.<u></u><u></u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    Having become slaves to their senses, fools and villains will continue their evil actions.<u></u><u></u>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                Dharma will survive in some corner of the world.<u></u><u></u>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                When Dharma staggers on one leg and retegeted to a corner… When all unrighteous actions gain the upper hand… When men and women abandon all prescribed
                                commandments and rules…<u></u><u></u>
                            </div>
                            <div>
                                An easy path, the path that is simple and effortless and suited for all human beings in Kali Yuga comes to rescue and deliverance of one and all. It is the
                                recital of Bhagwan Nama. Understanding the helpless state of human being, Bhagwan enforced that in Kali Yuga, Nama Sankeerthanam is the only way to
                                salvation.<u></u><u></u>
                            </div>
                            <div>
                                <span style="color: #669966;"><strong>It is said in Vishnu purana…<u></u><u></u></strong>
                                </span>
</div>
                            <div dir="ltr">
                                <img src="https://ci5.googleusercontent.com/proxy/2gzP_BjUoQwt5zFR568c_a_EZjK-F3UMb3xhS2FZf9aZGTNeK3Q4UwnA6_WjUT3cCExCjGIMTagkiEAkdjm36bX2ce8=s0-d-e1-ft#http://namalayam.org/images/Vishnu-purana1.jpg"
                                     alt="Vishnu-purana1"
                                     width="400"
                                     height="78" />
                                <strong>
                                    <br />
                                </strong>
                            </div>
                            <div align="center">
                                <u></u>
                                <u></u>
                            </div>
                            <div>
                                <span style="color: #669966;">
                                    <strong>Meaning:</strong>
                                    </span>
                                    <br />
                                    ["Whatever fruits are begot by meditation in Krita Yuga, conducting sacrifice in Thretha Yuga and by worshipping in Dwapara Yuga can be had by    <strong>Kesava Sankeerthanam</strong> in Kali Yuga"]<u></u><u></u>
</div>
                            <div align="center">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td width="7%">
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td width="93%">
                                                Nama Sankeerthanam is endorsed by the Vedas.<u></u><u></u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                Nama Sankeerthanam removes all Sins.<u></u><u></u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                Nama Sankeerthanam grants all the desires of the human being.<u></u><u></u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                Nama Sankeerthanam is not dependant on any other means of worship or dharma.<u></u><u></u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                Nama Sankeerthanam is not bounded by place or time.<u></u><u></u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                Nama Sankeerthanam surpasses all other forms of worship and actions prescribed by the Vedas.<u></u><u></u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img width="12" height="12" alt="icon" />
                                                    <u></u>
                                                    <u></u>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    human beings regardless of caste, creed, community, religion, sex are eligible to chant the Bhagwan Nama.<u></u><u></u>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <u></u>
                                <u></u>
                            </div>
                            <div dir="ltr">
                                <strong>
                                    <br />
                                </strong>
                            </div>
                            <div>
                                <span style="color: #669966;">
                                    <strong>Kali Yuga the Golden Age</strong>
                                    </span>
</div>
                            <div>
                                Once some of the sages wanted a clarification on whether a simple and easy form of Dharma is capable of bestowing the larger fruits. They came to the great
                                maharishi Vyasa. Vyasa was busy with his ablutions in river Ganges. Knowing about the sages' issue, Vyasa plunged thrice in the water uttering the
                                following words,<u></u><u></u>
                            </div>
                            <div align="center" dir="ltr">
                                <img src="https://ci4.googleusercontent.com/proxy/_y1TsUl8eSz2p8My9-J79KZ3cJfbxWeQOLiiwW44Cng1WaZTsF0GbUd1XbIGGkNjPrwb80wFHgC8dO4=s0-d-e1-ft#http://namalayam.org/images/yuga1.jpg"
                                     alt="yuga1"
                                     width="250"
                                     height="208"
                                     tabindex="0" />
                                <br />
                            </div>
                            <div>
                                <strong>"Kali Yuga is Good". "Sudraas are Good". </strong>
                                "Women are Good" After Vyasa came out of the river, the sages asked for an explanation, Vyasa replied "What can be yearned in 10 years in Krita Yuga can be
                                accomplished in 1 year during Thretha Yuga, what can be accomplished in 1 year during Thretha Yuga can be had in one month during Dwapara Yuga, whatever
                                can be done in 1 month can be had in 1 day during Kali Yuga." That is why Kali Yuga is good.<u></u><u></u>
                            </div>
                            <div>
                                The great merits (Punyas) earned in Krita Yuga by Dhyana or meditation; in Thretha Yuga by Sacrifices or homas; in Dwapara Yuga by worship can be easily
                                acquired in Kali Yuga by "Bhagwan Nama Sankeerthanam". Kali is extolled as good because during that period a little effort pays rich dividends. So Vyasa
                                was happy to pronounce it. Then Vyasa clarified the pronouncement that women and Sudraas are also good. A little effort (by chanting the bhagawan nama) on
                                the part of these people has redeemed them from sins and their actions have become fruitful. All the three are blessed.<u></u><u></u>
                            </div>
                            <div>
                                It is almost impossible to acquire great merits (punya) in the earlier Yugas but in Kali Yuga in spite of its evil tendencies, there is one great
                                attribute, a redeeming factor, man can attain liberation from bondage through Bhagwan Nama Sankeerthanam.<u></u><u></u>
                            </div>
                            <div>
                                <strong>Nama Sankeerthanam<u></u><u></u></strong>
                            </div>
                            <div>
                                <span style="color: #669966;">
                                    <strong>What is Nama Sankeerthanam?<u></u><u></u></strong></span>
                            </div>
                            <div>
                                Chanting of the bhagawan nama also called as Bhajan can be classified as follows,<strong><u></u><u></u></strong>
                            </div>
                            <div>
                            </div>
                            <ul type="disc" dir="ltr">
                                <li>
                                    <strong>Nama Shravanam</strong>
                                    -Hearing the bhagawan nama<u></u><u></u>
                                </li>
                                <li>
                                    <strong>Nama Chanting/ Archana </strong>
                                    – chanting and pooja of mantras<u></u><u></u>
                                </li>
                                <li>
                                    <strong>Nama Sankeerthanam</strong>
                                    (also called as Nama Keerthanam) - Reciting the bhagawan nama
                                </li>
                            </ul>
                             </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    @*<div class="thumbnail">
            <div class="row">
                <div class="col-md-12">
                    <h4><u>SAMOOHIKA SRI SHIRIDI SAI SATYANARAYANA VRATHAM</u></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
                        <img class="img-rounded img-responsive" src="~/Images/events-satyavratam.png" alt="saibaba">
                    </a>
                </div>
                <div class="col-md-9 text-justify">
                    <h5><b>Significance</b></h5>
                    <p class="text-justify">
                        The Origins of Sai Satya Vratam comes from the Story of Mr Bhimaji Patil from Sai Satchritha which goes as ......
                        One Bhimaji Patil of Narayanagaon, Taluka Junnar, Dist. Poona, suffered in the year 1909 A.D. from a severe and chronic chest-disease which ultimately developed into Tuberculosis. He tried all sorts of pathos (remedies), but to no effect. Losing all hopes, he ultimately prayed to God - "Oh Lord Narayana, help me now". It is a well known fact that, when our circumstances are well off, we do not remember God, but when calamities and adversities overtake us, we are reminded of Him, So Bhimaji now turned to God. It occurred to him that he should consult Mr. Nanasaheb Chandorkar, a great devotee of Baba, in this respect. So he wrote to him a letter, giving all details of his malady, and asking for his opinion. In reply, Mr. Nanasaheb wrote to him that there was only one remedy left, and that was to have recourse to Baba's Feet. Relying on Mr. Nanasaheb's advice, he made preparations for going to Shirdi.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-justify">
                    <p class="text-justify">
                        He was brought to Shirdi and taken to the Masjid, and placed before Baba. Mr. Nanasaheb and Shama (Madhavrao Deshpande) were then present. Baba pointed out that the disease was due to the previous evil karma, and was not at first disposed to interfere. But the patient cried out in despair that he was helpless, and sought refuge in Him, as He was his last hope, and prayed for mercy. Then Baba's heart melted an He said, "Stay, cast off your anxiety, your sufferings have come to an end. However, oppressed and troubled one may be as soon as he steps into the Masjid, he is on the pathway to happiness. The Fakir here is very kind and He will cure the disease, and protect all with love and kindness." The patient vomitted blood every five minutes, but there wa no vomiting in the presence of Baba. From the time, Baba uttered the words of hope and mercy, the malady took a favourable turn. Baba asked him to stay in Bhimabai's house, which was not a convenient and healthy place, but Baba's order had to be obeyed. While he was staying there, Baba cured him by two dreams. In the first dream, he saw himself as a boy suffering the severe pain of a flogging, which he received for not reciting his 'Swami-poetry' lesson before his class-master. In the second dream, some one caused him intense pain, and torture, by rolling a stone up and down over his chest. With the pain thus suffered in dream, his cure was complete, and he went home. He then often came to Shirdi, gratefully remembering what Baba did for him, and prostrated before Him. Baba also did not expect anything from devotees, but grateful remembrance, unchanging faith and devotion. People in the Maharashtra, always celebrate Satya-Narayana Puja in their homes every fortnight or month. But it was this Bhimaji Patil, who started new Sai Satya-vrata Puja, instead of Satya-Narayana-vrata Puja, in his house, when he returned to his village.
                    </p>
                    <p class="text-justify">
                        If one does Satyanarayana vratham, that devotee will get Swamy’s blessings with thousand fold times of benefit in the form of health & wealth. If one does both vrathams (Shirdi Sai & Satya narayana Swamy) at a time, the one could imagine the multifold times benefit of attaining peace, health & wealth.
                    </p>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="row">
                <div class="col-md-12">
                    <h4><u>VISWA SAI SAMELLANAM OUR SRI SHIRDI SAI BRAHMOTSAVAM</u></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
                        <img class="img-rounded img-responsive" src="~/Images/events-satyavratam.png" alt="saibaba">
                    </a>
                </div>
                <div class="col-md-9 text-justify">
                    <p class="text-justify">
                        This event is a continuation of the Parampara started by Guru Vani Amma to spread the concept of “Vasudhaika Kutumbam” (Global Sai Family) and bring together Sai Bandhus from across North America under a single roof bound by love for Baba. We always celebrate Viswa Sai Samellanam (Universal Sai Integration) as a Mahosthavam or Grand Festival.  For the first time it was in Montreal,Canada in April 2013, next in Minneapolis, Minnesota in April 2014 and then in Dallas, Texas in December 2014 & this year was in Cupertino, California 2015.
                    </p>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="row">
                <div class="col-md-12">
                    <h4><u>Satsang</u></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
                        <img class="img-rounded img-responsive" src="~/Images/events-satyavratam.png" alt="saibaba">
                    </a>
                </div>
                <div class="col-md-9 text-justify">
                    <p class="text-justify">
                        <b>
                            "'Satsang’ destroys the bodily attachments. Such is the power of its strength. Once there is firm faith in it, there is truly liberation from the mundane world”.
                        </b>
                    </p>
                    <p class="text-justify"><b>Significance of Satsang:</b> In Sanskrit Satsang means “Sat = True”, “Sangam = company”. In Indian philosophy (1) the company of the "highest truth," (2) the company of a guru, or (3) company with an assembly of persons who listen to, talk about, and assimilate the truth. Satsangis a devotional speech and chanting programs for the upliftment of the Spirutual Knowledge & Divine Love consciousness of a devotee. This typically involves listening to or reading scriptures, reflecting on, discussing and assimilating their meaning, meditating on the source of these words, and bringing their meaning into one’s daily life.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-justify">
                    <p class="text-justify"><b>Benifits:</b> The more you assimilate the teachings of satsang, the more you will be elevated from this earthly existence towards Divinity. Even a person who is not a sadhak, but regularly listens to satsang and reflects thereon, can become an excellent sadhak and even realize God, the Supreme Being. The bliss and peace that blossom in the heart as a result of listening to satsang are infinitely superior to even the pleasures of the heavens.</p>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="row">
                <div class="col-md-12">
                    <h4><u>Bajans</u></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
                        <img class="img-rounded img-responsive" src="~/Images/events-satyavratam.png" alt="saibaba">
                    </a>
                </div>
                <div class="col-md-9 text-justify">
                    <p class="text-justify">
                        <b>Bhajana Proceedings:</b> Sai Bhajana will begin with Sai Satcharitha Parayana (one chapter) followed by recitation of Prarthana Slokas, 3 minutes of Meditation, Siddi Vinayaka Ashtothram, Shirdi Sai Baba Ashtothram, Sai Vachanalu (11 sayings of Baba), Sai Mahimana Stotram, Prasada Nivedanam- offering Naivedhyam/Prasadam , Shej Arthi, Bhajana Songs and bhajana will be concluded with Mangala Arthi. After Bhajana Maha Prasadam will be served to all the devotees.
                    </p>
                </div>

            </div>
        </div>
        <div class="thumbnail">
            <div class="row">
                <div class="col-md-12">
                    <h4><u>Guru Poornima:</u></h4>

                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
                        <img class="img-rounded img-responsive" src="~/Images/events-satyavratam.png" alt="saibaba">
                    </a>
                </div>
                <div class="col-md-9 text-justify">
                    <p class="text-justify">
                        <b>
                            "Guru Brahma Gurur VishnuGuru Devo Maheshwaraha
                            Guru Saakshat Para BrahmaTasmai Sree Gurave Namaha"
                        </b>
                    </p>
                    <p class="text-justify">
                        Poornima means, the effulgent full moon. Guru means (Gu- ignorance, Ru-destroyer) he/she, who removes the darkness and delusion from the heart and illumines it with the higher wisdom.
                    </p>
                    <p class="text-justify">
                        There is only one guru. He is God. That Guru is within you. You are seeking the guru all over the world. Your qualities are in you in the form of Brahma, Vishnu and Maheswara and can protect you, elevate you or ruin you. when you act righteously and pursue the right path, they will protect you by their divine potency.
                    </p>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12 text-justify">
                    <p class="text-justify">
                        The Poornima(Full Moon) Day in the month of Ashadha(July- August) is known as Guru Poornima. This is a very sacred day on which special worship is performed to the Acharyas(Gurus) , who, through their Infinite Compassion and Supreme Grace, have imparted the Knowledge of the Absolute(Brahma Vidya) through a long and continuous line of Acharyas(Guru Parampara) to all the Seekers of the Self.
                    </p>
                    <p class="text-justify">
                        The full moon day in the Hindu month of Ashada (July-August) is observed as the auspicious day of Guru Poornima, a day sacred to the memory of the great sage Vyasa. All Hindus are indebted to this ancient saint who edited the four Vedas, He divided the Veda into four, namely Rig, Yajur, Sama and Atharva. Wrote the 18 Puranas, the Mahabharata and the Srimad Bhagavata. Vyasa even taught Dattatreya, who is regarded as the Guru of Gurus. It was this dividing and editing that earned him the honorific "Vyasa" (vyas = to edit, to divide).
                    </p>
                    <p class="text-justify">
                        In ancient India GURU POURNIMA was celebrated as a very big festival to remember the people about that the human have the ability to cross their limitation. This was the day, when Krishna-Dwaipayana Vyasa – author of the Mahabharata – was born to sage Parashara and a fisherman's daughter Satyavati, thus this day is also celebrated as Vyasa Purnima.
                    </p>
                    <p class="text-justify">
                        This was the day the “Adhi Muni” (The Adhi Yogi “The first yogi” of this world. It is another name of god Shiva) teaches the yogic techniques to his seven students (Known as Saptha Rishi). In this day, the full moon day this world got its first GURU. That is why this day is called as GURU POURNIMA. The Adhi yogi became as Adhi guru (first Guru) to teach all his yogic techniques to his student. This day is very important to Hindus because this was the first day this humanity came to know humans have ability to cross their limitation and also got the techniques to go beyond their five senses and can become enlightened Yogi (YOGI is a common name used to refer the human who crosses all his limitations and preserve this whole universe as a part of himself that is an enlightened Human).
                    </p>
                </div>
            </div>

        </div>
        <div class="thumbnail">
            <div class="row">
                <div class="col-md-12">
                    <h4><u>Celebration of Guru Poornima Day in Shirdi</u></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
                        <img class="img-rounded img-responsive" src="~/Images/events-satyavratam.png" alt="saibaba">
                    </a>
                </div>
                <div class="col-md-9 text-justify">
                    <p class="text-justify">
                        The celebration of Guru Poornima began in Shirdi around 1908. One day Shri Baba told his disciple Shri Dada Kelkar, "Do you know this day is the day to approach Gurus? Bring your worship articles". Then Shri Kelkar and his friends looked up the calendar and found that
                        the day was Guru Poornima day. They started worshipping Shri Sai Baba as their Guru, and that practice has continued till today not only in Shirdi but all over the world where prayers are offered to Shri Sai.
                    </p>
                    <p class="text-justify"><b>How does one celebrate Guru Poornima? </b></p>
                    <p class="text-justify">Guru Poornima is celebrated by devotees by performing Guru Pooja (offering prayers to the Guru) to our Lord Shri Sai Baba. Each Sai Devotee can either perform the Sai Guru Pooja(prayer) at home or attend a Sai Guru Pooja or sponsor a Sai Guru Pooja being performed at a Sai temple by offering donation or other articles used in Pooja (Pooja samagri).</p>
                </div>

            </div>
        </div>
        <div class="thumbnail">
            <div class="row">
                <div class="col-md-12">
                    <h4><u>Dattaya Jayanthi:</u></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
                        <img class="img-rounded img-responsive" src="~/Images/events-satyavratam.png" alt="saibaba">
                    </a>
                </div>
                <div class="col-md-9 text-justify">
                    <p class="text-justify">
                        Sri Dattatreya is a very ancient  incarnation, highly venerated through the ages. Dattatreya – a Universal Guru manifested in the recess of time of 'Kaliyug', when humanity had gone far from its pristine state and steeped into threshold of a time when all kinds of vices had already taken root, and the pious souls made fervent appealed for the salvage of the mankind surging forward in manifold way. He had descended on this earth to establish 'Satya' (the Universal Truth), 'Rta' (the Cosmic Order), Dharma',(the perennial principles), in all its entirety.
                    </p>
                    <p class="text-justify">Sage Atri was one of such who had ‘seen’ and experienced the Brahman, the eternal Wisdom. To him was born a son, the product of the Grace or the Divine Will, which was the manifestation of all three Primal Energies of Brahma, Vishnu and Shiva. He was ordained with the three energies; He came to have the concentrated wisdom of the three God-heads, or symbolically three heads. The three heads signified as Brahma – ‘Tejas’ personified, Vishnu –‘Ojas' personified, Shiva – ‘Tapas’ personified. Under these heads, illumination of knowledge, vigorosity of action and stringency of penance were represented as three aspects or state of being of the same.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-justify">
                    <p class="text-justify">
                        <b>
                            Birth:
                        </b>
                    </p>
                    <p class="text-justify">Dattatreya had descended into the realm of world as progeny of Atri and Anusuya, a sage couple of the Vedic age. Anusuya became very famous for her devotion to her husband. She was the embodiment of chastity. Such was her spiritual power that hard, uneven earth turned soft and smooth for her as she walked about. This pious woman induced jealousy and envy in others, however, and the three Gods decided to prove these doubting elements how wrong they were.</p>
                    <p class="text-justify">
                        They transformed themselves into mendicants, approached the hermitage of sage Atri and begged for alms. At that time sage Atri was away at the river offering his daily oblations. Anusuya came out and offered food to them. They made a strange request; the food be prepared and served to them by Anusuya, in the nude. In the Indian tradition any 'athithi' (guest) cannot be turned away, as they are considered to be an aspect of God. Hence she was placed in a dilemma. She smiled to herself and reflected thus: ‘I am totally purified by the long association with the holy sage Atri. What harm can the god of lust ever do to me? So I do fear nothing. As they have sought food from my hands, I look upon them as my own children and not as strangers and grown up men!’ Her thoughts – the thoughts of a pious and chaste person – instantly became reality; the elderly guests became babies!
                        Sage Atri on his return to the hermitage saw his wife Anusuya fondling three babies. Anusuya said "These children are the gift of God to us who have been childless so far". Sage Atri was overjoyed and named them Datta, which means 'given'. At this the three Gods reverted to their real forms and disclosed the truth. They extolled the power of chastity and purity of Anusuya which vanquished the combined and colossal powers of all three of them. Sage Atri and Anusuya prayed that they should remain as their sons. They consented and the three Gods merged into one body. This is how Shri Dattatreya incarnated and is known as Gurudeva Datta – the Guru of all Gurus.
                    </p>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="row">
                <div class="col-md-12">
                    <h4><u>Sri Guru Charitha Akhanda Parayanam”</u></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
                        <img class="img-rounded img-responsive" src="~/Images/events-satyavratam.png" alt="saibaba">
                    </a>
                </div>
                <div class="col-md-9 text-justify">
                    <p class="text-justify">
                        Shri Guru Charitra is a holy book of Datta Sampradaya written by Sri Saraswati Gangadhar Sakhare in 15th Century. The book recounts the Holy Life of Sri Dattatreya, Sri Sripada Sri Vallabha (around 1320 A.D – 1350 A.D) and Sri Narasimha Saraswati (around 1378 A.D – 1458 A.D), his philosophy and teachings. This Book was translated into telugu and english by Sri Acharya Ekkirala Bharadwaja garu.
                    </p>
                    <p class="text-justify">
                        Sri Saraswati Gangadhar was a Descendant of Sri Sayamdev who was a Close Disciple to Sri Narasimha Saraswati. Saraswati Gangadhar refers to himself as Namadharaka in the Book. The book is written in the form of a conversation between Siddha Muni (who too was a disciple of Shri Narasimha Saraswati) and Namdharak who is listening to Sri Siddha.
                        Namadharaka spent most of his Life at Kadaganchi, a village nearby Ganagapur. He meets Sri Siddha Muni near Ganagapur and when he realizes that Sri Siddha Muni was a Disciple of Sri Guru, he requests him to narrate the Holy Life of Sri Narasimha Saraswati. Sri Siddha Muni takes Namadharak to Bhima-Amarja Sangam and then starts narrating “Sri Guru Charitra”.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-justify">
                    <p class="text-justify">Many Devotees read Guru Charitha regularly at home. Some read on festive days, some do parayanam for 3 or 7 days. Some Devotees want to read it regularly but the hectic lifestyle takes us away from this inclination. So periodically we arrange Akhanda Parayanam to read the entire Book in a single day.We affably request all local Sai Devotees to participate in this event, and devotees from other parts of the world to participate by Conference Call (by phone).</p>
                </div>
            </div>
        </div>*@

</div>

