<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div style="background-color: #ece8d4; width:600px; height:400px; padding:30px; margin-top:30px;">
        <img src="http://www.viswasaidwarakamai.org/Images/NewVsdLogo.png" />
        <p>Hi [SUBSCRIBER],<p>

        <p>Help us secure your Viswa Sai Dwarakamai account by verifying your email address [EMAILTO]. This lets you access all of VSD resources.</p>
        <p>
            <a href="[VERIFYLINK]" style="background:#4183c4;border-radius:3px;color:#ffffff;display:inline-block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:17px;font-weight:bold;letter-spacing:normal;margin:0 auto;padding:12px 24px;text-align:center;text-decoration:none;width:auto!important" target="_blank">Verify email address</a>
                       
            <hr style="background:#d9d9d9;border:none;color:#d9d9d9;min-height:1px;margin:10px 0 20px">
        <p>Button not working? Paste the following link into your browser:</p>
        <a href="[VERIFYLINK]">[VERIFYLINK]</a>
        <p>You’re receiving this email because you recently created a new Viswasai Dwaraiakmai account or added a new email address. If this wasn’t you, please ignore this email.</p>
    </div>
</body>
</html>
