
@{
    ViewBag.Title = "Aarthi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bg-site">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Sai Aarthi
                <small>Viswa Sai Dwarakamai</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Sai Aarthi</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Sai Aarthi Audio mp3</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>
                                    <a href="https://drive.google.com/open?id=0BynChJWS6JMfN2lKTF91THZsVEU" target="_blank" class="list-inline">Kakad Aarthi</a>
                                </li>
                                <li>
                                    <a href="https://drive.google.com/open?id=0BynChJWS6JMfNUh5X3NSS3hINnM" target="_blank" class="list-inline">Madhyan Aarthi</a>
                                </li>
                                <li>
                                    <a href="https://drive.google.com/open?id=0BynChJWS6JMfUVdNdDAybTczYTQ" target="_blank" class="list-inline">Dhoop Aarthi</a>
                                </li>
                                <li>
                                    <a href="https://drive.google.com/open?id=0BynChJWS6JMfd2RnUXJ0U2ZSaXM" target="_blank" class="list-inline">Shej Aarthi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Sai Aarthi Lyrics</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>
                                    <a href="https://drive.google.com/open?id=0BynChJWS6JMfZUpucFlwMk5paHM" target="_blank" class="list-inline">Telugu</a>
                                </li>
                                <li>
                                    <a href="https://drive.google.com/open?id=0BynChJWS6JMfdTBzb0ltdk5RNE0" target="_blank" class="list-inline">Hindi</a>
                                </li>
                                <li>
                                    <a href="https://drive.google.com/open?id=0BynChJWS6JMfUVVsSGdKdWwyLTQ" target="_blank" class="list-inline">English</a>
                                </li>
                                <li>
                                    <a href="https://drive.google.com/open?id=0BynChJWS6JMfazZFUEN1bmljVWM" target="_blank" class="list-inline">Gujarathi</a>
                                </li>
                                <li>
                                    <a href="https://drive.google.com/open?id=0BynChJWS6JMfa3I3LUNwMXlPNzQ" target="_blank" class="list-inline">Tamil</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">Sai Aarthi Videos</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#" class="thumbnail">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/swh1ywZj9Z8"></iframe>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="thumbnail">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://youtube.com/embed/GLKgU5OGfD0"></iframe>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#" class="thumbnail">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://youtube.com/embed/Y6amNQYEwAs"></iframe>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="thumbnail">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/T9tOahfsFlU"></iframe>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>




