
@{
    ViewBag.Title = "Aarthi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bg-site">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Sai Aarthi
                <small>Viswasai Dwarakamai</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Sai Aarthi</li>
            </ol>
        </div>
    </div>
    <div class="thumbnail">
        <div class="row">
            <div class="col-md-12">
                <h2>Sai Aarthi</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>
                        <a href="https://drive.google.com/open?id=0BynChJWS6JMfUVVsSGdKdWwyLTQ" target="_blank" class="list-inline">English</a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/open?id=0BynChJWS6JMfazZFUEN1bmljVWM" target="_blank" class="list-inline">Gujarathi</a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/open?id=0BynChJWS6JMfdTBzb0ltdk5RNE0" target="_blank" class="list-inline">Hindi</a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/open?id=0BynChJWS6JMfa3I3LUNwMXlPNzQ" target="_blank" class="list-inline">Tamil</a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/open?id=0BynChJWS6JMfZUpucFlwMk5paHM" target="_blank" class="list-inline">Telugu</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Sai Aarthi Audio mp3</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>
                        <a href="https://drive.google.com/open?id=0BynChJWS6JMfVzVGd004ZlcwMU0"  target="_blank" class="list-inline">Dhoop Aarthi</a>                        
                    </li>
                    <li>
                        <a href="https://drive.google.com/open?id=0BynChJWS6JMfN2lKTF91THZsVEU"  target="_blank" class="list-inline">Kakad Aarthi</a>                           
                    </li>
                    <li>
                        <a href="https://drive.google.com/open?id=0BynChJWS6JMfNUh5X3NSS3hINnM"  target="_blank" class="list-inline">Madhyan Aarthi</a> 
                    </li>
                    <li>
                        <a href="https://drive.google.com/open?id=0BynChJWS6JMfd2RnUXJ0U2ZSaXM"  target="_blank" class="list-inline">Shej Aarthi</a>                        
                    </li>                  
                </ul>
            </div>
        </div>
    </div>
</div>

