@{
    ViewBag.Title = "About";
}
<div class="container bg-site">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About
                <small>Viswa Sai Dwarakamai</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <div class="thumbnail">
        <div class="row">
            <div class="col-md-12">
                <h2>Sai Baba of Shirdi</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/Images/Phtoos/AboutUs_750x450.png" class="img-responsive" />
            </div>
            <div class="col-md-6 text-justify">
                <p class="text-justify">
                    <h2>Sai Baba of Shirdi</h2> <h6>(28 September 1835 – 15 October 1918; resided in Shirdi) </h6>A.K.A. Shirdi Sai Baba, was an Indian spiritual master who was and is regarded by his devotees as a saint, fakir, and satguru, according to their individual proclivities and beliefs. He was revered by both his Hindu and Muslim devotees, and during, as well as after, his life it remained uncertain if he was a Hindu or a Muslim himself. This however was of no consequence to Sai Baba himself.  Sai Baba stressed the importance of surrender to the guidance of the true Satguru who, having gone the path to divine consciousness himself, will lead the disciple through the jungle of spiritual training.
                </p>
                <p class="text-justify">
                    Sai Baba is worshipped by people around the world. He had no love for perishable things and his sole concern was self-realization. He taught a moral code of love, forgiveness, helping others, charity, contentment, inner peace, and devotion to God and guru. He gave no distinction based on religion or caste. Sai Baba's teaching combined elements of Hinduism and Islam.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-justify">
                <p class="text-justify">
                    He gave the Hindu name Dwarakamayi to the mosque he lived in and practised Muslim rituals, taught using words and figures that drew from both traditions, and was buried in Shirdi. One of his well-known epigrams, "Sabka Malik Ek" ("One God governs all"), is associated with Hinduism, Islam and Sufism. He also said, "Trust in me and your prayer shall be answered". He always uttered  “Allah Mailk” ("God is King").
                </p>
                <p class="text-justify">
                    <h3>Significance of the name: Sai</h3>
                    No verifiable information is given regarding Sai Baba's real name, place or time of birth. When asked about his past, he often gave elusive responses. The name "Sai" was given to him upon his arrival at Shirdi, a town in the west Indian state of Maharashtra. Mahalsapati, a local temple priest, recognised him as a Muslim saint and greeted him with the words 'Ya Sai!', meaning 'Welcome Sai!'. Sai or Sayi is a Persian title given to Sufi saints, meaning 'poor one'and in Banjara language, "sayi" means good one. The honorific "Baba" means "father; grandfather; old man; sir" in most Indian and Middle Eastern languages. Thus Sai Baba denotes "holy father", "saintly father" or "poor old man".
                </p>
                <p class="text-justify">
                    Alternatively, the Sindhi and Urdu word "sāī.n", an honorific title for a virtuoso, a saint, or a feudal lord (i.e. a patron), is derived from the Persian word "sāyeh", which literally means "shadow" but figuratively refers to patronage or protection. The Hindi_Urdu word "sāyā" comes from the same borrowing. Thus, it could also mean "Master Father." However, Sāī may also be an acronym of the Sanskrit term "Sakshat Eshwar", a reference to God. Sakshat means "incarnate" and Eshwar means "God".
                </p>
                <p class="text-justify">
                    <h3>Parampara</h3>
                </p>
                <p class="text-justify">
                    Some of Sai Baba's disciples became famous as spiritual figures and saints, such as Mahalsapati, a priest of the Khandoba temple in Shirdi, and Upasni Maharaj. He was revered by other saints, such as Saint Bidkar Maharaj, Saint Gangagir, Saint Janakidas Maharaj, and Sati Godavari Mataji Sai Baba referred to several saints as 'my brothers', especially the disciples of Swami Samartha of Akkalkot.
                </p>
                <p class="text-justify">
                    Guru Vanamma is the chosen one by Shirdi Sai Baba in continuation of this great Guru-Shisya Sampradyam.   Please continue to read under a separate section on this website on how Guru Vanamma was initiated onto the path of spirituality and how Shirdi Sai Baba used her as a conduit to serve humanity. 
                </p>
            </div>
        </div>
    </div>
    <div class="thumbnail">
        <div class="row">
            <div class="col-md-12">
                <h2>Teachings and practices:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 text-justify">
                <p class="text-justify">
                    <h2>Sradhha Saburi</h2>
                </p>
                <p class="text-justify">
                    Sai Baba opposed all persecution based on religion or caste. He was an opponent of religious orthodoxy – Christian, Hindu and Muslim.
                </p>
                <p>
                    Sai Baba encouraged his devotees to pray, chant God's name, and read holy scriptures. He told Muslims to study the Qur'an and Hindus to study texts such as the Ramayana, Bhagavat Gita amd Yoga Vasistha. He was impressed by the philosophy of the Bhagavad Gita and encouraged people to follow it in their own lives. He advised his devotees and followers to lead a moral life, help others, love every living being without any discrimination, and develop two important features of character: devotion to the Guru (Sraddha) and waiting cheerfully with patience and love (Saburi).
                </p>
                <p>
                    In his teachings, Sai Baba emphasised the importance of performing one's duties without attachment to earthly matters and of being content regardless of the situation.
                </p>
                <p>
                    Sai Baba encouraged charity, and stressed the importance of sharing. He said: "Unless there is some relationship or connection, nobody goes anywhere. If any men or creature comes to you, do not discourteously drive them away, but receive them well and treat them with due respect. Shri Hari (God) will certainly be pleased if you give water to the thirsty, bread to the hungry, clothes to the naked, and your verandah to strangers for sitting and resting. If anybody wants any money from you and you are not inclined to give, do not give, but do not bark at him like a dog.
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/Images/Phtoos/AboutUs_318x450.png" class="img-responsive" />
            </div>
        </div>
    </div>
    <div class="thumbnail">
        <div class="row">
            <div class="col-md-12">
                <h2>Guru Vannama</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/Phtoos/AboutUs_Vannamma_318x450.png" class="img-responsive" />
            </div>
            <div class="col-md-8 text-justify">
                <p class="text-justify">
                    <h2>Guru Vanamma</h2> <h6>(July 12, 1935 to June 29, 2013, resided in Hyderabad)</h6>
                </p>
                <p class="text-justify">
                    hails from a village called Poranki (4 miles from Vijayawada, AP) and was born on Friday July 12, 1935 in an orthodox Brahmin family as Ms. Vani Swarna Prasoona.. Since childhood days, she gained bhakti, divine knowledge with her dedicated effort for search and exertion (Sodhana and Sadhana). Sri Kanaka Durga, the mother of universe is their family deity. Recognizing her spiritual practices and worshipping qualities at a very tender age, her Guru, Sri Simhaalu, resident of Saluru gave her initiation with Mantra Deeksha. Since then, Sri Vaanamma observed a complete fast invariably on every Tuesday to seek blissful blessings of Goddess, Sri Kanakadurga.
                </p>
                <p>
                    Vanamma was married to Sri Codur Bhaskar, the resident of Chittoor, Andhra Pradesh.  Amma was blessed with a daughter Mrs. Soujanya and a grandson Chi. Naga Sai Sriharsha. She was traditional, knowledgeable, humorous, kind, short spoken and disciplined. Her speech was always meaningful and had a hidden meaning.  She likes mangos, guava (jama), dates, dry fruits, eggplant curry, pakodis, and gulab jamun. She treats all her devotees like her children and devoted her whole life to council them by finding solutions through social networks and spiritual support.
                </p>
                <p>
                    <h3>Guru Vannamma’s initiation into Guru Shishya Sampradayam</h3>
                    Sri Vanamma had darshan of Sri Satya Sai of Puttaparthi on 13th March, 1976 for the first time and started praying him. Although visited, she was agianst worshipping Sri Shirdi Sai because of the turban on his head.  On insistence of her sister-in-law, she had attended Shirdi Sai’s pooja at the residence of Smt. Rama Devi, another staunch disciple of Sri Shirdi Saibaba.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-justify">
                <p>
                    She had offered a flower garland (made of Jaaji) to Satya Sai’s photo on that day before she started from home.  Miraculously, the garland hanged upon Satya Sai’s photo at Sri Vanamma’s house was received and acknowledged by Shirdi Sai. This was announced in midst of devotees by Sri Ramadevi as instructed by Shirdi Sai himself in his own words that “the Jaaji flowers garland offered by Vanamma had reached him”. Consequently, Sri Vanamma came to be a firm believer and strong devotee of Sri Shirdi Sai from that moment. Smt Rama Devi has asked Vanamma to read the Shiridi Sai’s sacred epic regularly, which will answer all questions and doubts about Sri Shridi Saibaba. Vanamma with a dedicated mind read the sacred epic written by Shri Ekkirala Bharadwaja daily as “Pavitra Nitya Parayana Grandham” and felt the abodely happiness.  Since then Vanamma with the blessings of Shiridi Saibaba, was able to visualize the future events, gained spiritual perfection, and had regained all memories from her previous births.
                </p>
                <p>
                    On October 5, 1982, Tuesday, Amma suddenly started hearing a sound of Conch (Shanku Nadam) in her ears and had the vision (darshan) of Shri Shiridi Sai Baba and heard the voice of Shirdi Sai Baba with in herself. Shirdi Sai Baba told her “Your birth is not for merely enjoying the unalloyed Bliss of the self, but for comforting suffering humanity. Therefore, worship me in the hearts of all beings and relieve them from the sufferings of worldly existence. I am blessing you with the Power of Speech (vaak shakthi) to extricate, heal, resolve and relieve all those who are in dire need.” Accordingly Sri Vanamma has been rendering her selfless services for the mankind from last 26 years. She has guided moulded, rectified and rescued innumerable people.
                </p>
                <p>
                    <h3>Parampara / Legacy:</h3>
                    Since then Vanamma in her long journey of 26 years, helped hundreds and thousands of people and pulled them out of troubles related to life, education, marriage and chronic diseases like Cancer and Heart ailments. With the Blessings of Vanamma many people settled down in their lives in respectable positions.  The function of Vanamma is selfless help to the needy, the sick, the under privileged and to every aspirant, who tries to attain self-realization through surrendering  to God.
                </p>
                <p>
                    Vanamma had “Atma Darshan” and with the blessings of Shiridi Sai Baba, Amma had visited her previous Births, visited many Gurus and Saints ( yogis) without any discrimination to caste, Creed, religion, poor, rich.  Vanamma also had Sri Kanaka Durga Devi darshan and blessings.
                </p>
                <p>
                    Vanamma daily fed Shri Shiridi Sai Baba as a mother, a vision which one can only enjoy by physically watching it. Vanamma feeds Baba as the mother Yashodha, who feeds Lord Krishna in his child hood in the era of Dwapara Yuga. That is the love and affection Amma has towards Shiridi Sai Baba.
                </p>
                <p>
                    Vanamma often says that her only work in this world is to remove the suffering from the hearts of her children. This she does through vaak shakti (power of speech), loving words of spiritual guidance and encouragement, and her divine knowledge and insight bestowed upon her by Sri Shirdi Sai. She is known for austerity and simplicity.
                </p>
                <p>
                    Her every movement is united with Shri Shiridi Sai Baba and Vanamma is leading a very common and simple life.  She made many people do Satcharithra Parayan and Sai Bhajans.  Every year Vanamma organizes a pooja on Datta Pournami in Hyderabad at the house of her Deciple and a Sai Devotee Shri Ram Chandra Rao and performs Datta Yagna, Rudrabhishek, Navagraha, Shiridi Sai Baba, Rudhra, and Ganapati havanas.  Many people visit these events and received the blessings from Vani Amma. Vanamma also performed prayers and Annadanam (Food distribution) within the means at her disposal at these events.
                </p>
                <p>
                    Each year on <b>May 1st</b> (the birth date of Shirdi Sai), a special Abhishekham of Sai Baba, Prayer of Goddess Durga and Bhajans are conducted to provide peace and happiness to the devotees of Shirdi Sai Baba.
                </p>
                <p>
                    With the blessings of Vani Amma, a group of Sai Devotees in Federal Way, Washington (USA) started performing Sri Shirdi Sai Bhajans and Aarathi every Saturday regularly at one individual devotee’s residence by rotation. Also they started performing Sai Satcharitra akhanda parayan, Sai pooja, Abhishekams, Gurupoornima and Dattajayanthi.
                </p>
                <p>
                    Sri Vaanamma treated every one equally irrespective of caste, creed, color, rich and poor. She is devoid of  pride or prejudice. Those who have not benefited from her blessings, love and affection could be called unlucky. Her mission was to always remember Sai Baba, and to help people in trouble. Vanamma offered disciplined, daily prayers to Sri Sai Baba, Goddess of Sri Kanaka Durga Amma with the utmost devotion. Vanamma explains Baba’s Leelas in a loving, patient manner easily understood by the devotees.
                </p>
                <p>
                    The devotees also got to experience Baba’s Darshan on seeing Amma and hear Him through her voice. She guided many a devotees into Bhakti margaand showed them the spiritual path and strengthend their faith at the feet of Sri Shridi Sai Baba. Even a casual devotee developed a firm faith towards baba after an encounter with vannamma. Her Physical form may have vanished from this earth but she will always live in our hearts through her teachings and blessings.
                </p>
                <p>
                    All the devotees are requested to continue following the teachings of Vani Amma, have her darshan and this way obtain the blessings of Shirdi Sai Baba.
                </p>
                <p>
                    At the age of 78, she was an influential and an iconic leader in India's long line of spiritual teachers. She led a simple life and set an example to others by following her own life’s message, “Seva with love is the only way to serve the God” which was received by her many devotees around the world.  Her smile brought joy and happiness to people around her, and a mere look was enough to show eternal Brahma and banish the darkness of delusion from the hearts of Sai Devotees. Amma, will live forever in our thoughts, prayers, memories, and acts. Her Parampara (legacy) will continue for generations.
                </p>
                <p>
                    <b>Guru Vanamma Garu has been a blessing in our lives. She guided us on the best path that’s Baba's path.</b> Guru is Omnipresent occupying land, water, air, light, heaven and beyond.. Guru is not limited. No doors or windows or any boundires can separate us from our Guru, Shradha ( Concentration and devotion ) and Saburi ( Faith and Patience ) are our vehicles to reach and hold him for ever.
                </p>
                <p>
                    <b>
                        Guru says "My tomb shall bless and speak to the needs of my devotees,  I shall be active and vigorous even from my tomb, even after leaving this earthly body, my spirit is immortal, know this for yourself ".
                    </b>
                </p>
                <p>
                    <h3 class="text-center">Sarvam Sainadharpanamasthu !</h3>
                    <h3 class="text-center">Sarvejana Sukhino Bhavanthu !</h3>
                    <h3 class="text-center">Sai Ram</h3>
                </p>
            </div>
        </div>
    </div>
    <div class="thumbnail">
        <div class="row">
            <div class="col-md-12">
                <h2>Mission</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-justify">
                <p class="text-justify">
                    An integrated universal Shirdi Sai family for spiritual enlightenment, self-realization, world peace and service to all living beings including humans, animals, plants, birds etc.,
                </p>
                <p>
                    <h3>Rationale for the mission</h3>
                    Our Non-Profit is inspired by preaching’s of Sai Baba (28 September 1835 – 15 October 1918;) who resided in Shirdi, also known as Shirdi Sai Baba.
                </p>
                <p>
                    Sai Baba is revered by devotees around the world. He is believed to have no love for perishable things and his sole concern was self-realization. It is claimed by his devotees that he taught a moral code of love, forgiveness, helping others, charity, contentment, inner peace, and devotion to God and guru.   He lived in a masjid in Shirdi which became famous as 'Dwarakamai'
                </p>
                <p>
                    Even though he left his mortal body on Oct 15, 1918, his divine presence spread universally becoming a global phenomenon (Viswa Sai).  Today, Shri Saibaba has millions of devotees in India, US, Canada, Middle East Asia and across the world.   Devotees are still experiencing his divine presence and guiding force.  Hence, we have named our organization aptly as Viswa Sai Dwarakamai.
                </p>
            </div>
            @*<div class="col-md-4">
                    <img src="~/Images/Phtoos/AboutUs_318x450.png" class="img-responsive" />
                </div>*@
        </div>
    </div>
    
    <div class="thumbnail">
        <div class="row">
            <div class="col-md-12">
                <h2>Our Activities and Services</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-justify">
                <p class="text-justify">
                    <h3>Our activities and services encompass:</h3>
                    <ul>
                        <li>Distributing food to the hungry</li>
                        <li>Setting up shelters to homeless</li>
                        <li>Support blind and orphans</li>
                        <li>Support education for the needy</li>
                        <li>Feed the animals</li>
                        <li>Protect environment by planting trees / saplings</li>
                        <li>Distribute clothing medicines to the needy and in times of natural calamities across the universe</li>
                        <li>Organize meditation / prayers for self-realization, human well-being and world peace</li>
                        <li>Set up spiritual retreat centres for yoga and meditation</li>
                        <li>Organize prayers including Homas, Yagnas in temples</li>
                    </ul>
                </p>
            </div>
            @*<div class="col-md-4">
                    <img src="~/Images/Phtoos/AboutUs_318x450.png" class="img-responsive" />
                </div>*@
        </div>
    </div>
    
</div>
