@{
    ViewBag.Title = "Contact";
}
<div class="container bg-site">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Contact Us
                <small>Viswa Sai Dwarakamai</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Contact Us</li>
            </ol>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-12">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Email</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <address>
                            <strong>Information:</strong>  If you have any questions regarding our events or services, please contact us at <a href="mailto:info@viswasaidwarakamai.org">info@viswasaidwarakamai.org</a><br />
                            
                            <strong>Support:</strong>  If you have questions or issues regarding our website, please contact our support team at <a href="mailto:Support@viswasaidwarakamai.org">support@viswasaidwarakamai.org</a>
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>US Address</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <address>
                            175, Calvert Dr, Apt #A108<br />
                            Cupertino, California 95014<br />
                            <abbr title="Phone">Mobile:</abbr>
                            <a href="callto://14089819763">+1 (408) 981-9763</a>
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Canada Address</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <address>
                            7156 Village Walk, <br />
                            Mississauga, L5W 1X2<br />
                            <abbr title="Phone">Home:</abbr>
                            <a href="callto://14089819763">+1 (905) 918-1846</a> <br />
                            <abbr title="Phone">Mobile:</abbr>
                            <a href="callto://14089819763">+1 (647) 894-4555</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


