
@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container bg-site">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Donation
                <small>Viswa Sai Dwarakamai</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Donation</li>
            </ol>
        </div>
    </div>
    <div class="thumbnail">
        @*<div class="row">
                <div class="col-md-12">
                    <h2>Donate</h2>
                </div>
            </div>*@
        <div class="row">
            <div class="col-md-12">
                <p class="text-justify">
                    <b><u>Viswa Sai Dwarakamai</u></b> is a non-profit organization established as a center for worshiping, sharing and celebrating Sri Sai Sadguru's message. We invoke blessings from Sai Baba for the betterment of human lives, both spiritually and materially. Our Viswa Sai Dwarakamai family has a strong desire to support and promote the philosophy of Shirdi Sai Baba and is mainly dependent on the donations given by our devotees. We plan on expanding and improving our facilities to enhance the experiences of our devotees when visiting Viswa Sai Dwarakamai.
                </p>
                <p class="text-justify">
                    <b><u>We need your support</u></b>
                </p>
                <p class="text-justify">You can humbly donate to Viswa Sai Dwarakamai for any of our various activities. If you would like your funds to go for a specific use, please add a note when making the donation. i.e Donation for Flowers, Annadanam, Temple Construction or General Donations. </p>
                <p class="text-justify"><b><u>Terms and conditions for the Donations:</u></b></p>
                <p class="text-justify">
                    <ol>
                        <li>Viswa Sai Dwarakamai is registered under Not-for-profit Corporations Act (NFP Act with Registration No: 948437-0) Canada but it doesn’t have charitable tax exemption status which will be granted by the Canada Customs and Revenue Agency (CCRA) (formerly Revenue Canada) as of today. Hence, our organization can’t issue tax deductible receipts to donors (in Canada or outside Canada) for Income Tax exemption purposes. No tax exemption certificates will be issued for the contributions/donation made by you.</li>
                        <li>Disputes relating to Donations and/or any other matters will come under jurisdiction of Ontario Province, Canada.</li>
                        <li>Donations once paid to Viswa Sai Dwarakamai Organization can't be claimed back or refunded. These amounts will be spent on Spiritual/Charitable/other activities like building an Spiritual Center/Ashram to accomplish the mission/goals and objectives of the organization as stated in viswasaidwarakamai.org website.</li>
                        <li>Viswa Sai Dwarakamai organization has right to accept or reject of any form of donation made by any donors to organization.</li>
                        <li>By clicking donation tab/ button you agree that you have read the above our terms & conditions, Viswa Sai Dwarakamai’s  mission, objectives & goals and paid donations to Viswa Sai Dwarakamai to achieve them. Further, you also agree that this donation is made voluntarily, willfully without any influence, compulsion, force, threat, coercion or any other form from any person including Viswa Sai Dwarakamai members / volunteers.</li>
                        <li>By clicking donation tab or button you agree that Viswa Sai Dwarakamai will not be liable for any unpaid tax, interest, fines, penalties or any other claims against you in relation to the tax deductibility of your donation. You also agree to indemnify us against any claim made against us in relation to the tax deductibility of your donation.</li>
                        <li>We use PayPal service (through a secured gateway) for receiving the donations on our behalf us at an agreed commission which will be paid to PayPal for utilizing their services by us.</li>
                        <li>I authorize Viswa Sai Dwarakamai and PayPal to charge any debit / credit card payments to my debit / credit card(s), and / or I authorize my bank to deduct any checking / savings payment(s) from my checking / savings account, on the payment date(s) indicated above.</li>
                        <li>If payment method was stored, I authorize Viswa Sai Dwarakamai/PayPal to charge any debit / credit card payments to my debit / credit card(s), and / or I authorize my bank to deduct any checking / savings payment(s) from my checking / savings account, on the payment date(s) indicated above.</li>
                    </ol>
                </p>
                <p class="text-justify">
                    <strong>
                        Agreement:
                        By clicking Donate Tab/Button, I agree to the above Viswa Sai Dwaramai Terms & Conditions
                    </strong>
                </p>
                <p class="text-justify">
                    <strong>"Spend money in charity, be generous and munificent but not extravagant" - Sai Baba <br /> "If I take one rupee as dakshina from anybody, I will return tenfold to him" - Sai Baba </strong>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">For USD Donations</div>
                    <div class="panel-body">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="ZQY93R2SAZ8ZY">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">For CAD Donations</div>
                    <div class="panel-body">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="LBSNXPXF38CMQ">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
