
@{
    ViewBag.Title = "SaiGayatri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bg-site">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Sai Gayatri
                <small>Viswa Sai Dwarakamai</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Sai Gayatri Laksharchana</li>
            </ol>
        </div>
    </div>
    <div class="row">       
        <div class="col-md-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Sai Gayatri Laksharchana</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#" class="thumbnail">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://youtube.com/embed/AXFQoQa1npk"></iframe>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="thumbnail">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="http://docs.google.com/gview?url=https://drive.google.com/uc?id=0BynChJWS6JMfT1l1V1pxY2tzSmM&embedded=true"></iframe>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div>
                            <strong>Sai Gayatri Laksharchana:</strong>
                        </div>
                        
                           
                               
                                   <p class="text-justify">
                                       <strong>
                                           <img class="img-rounded img-responsive" src="https://drive.google.com/uc?id=0BynChJWS6JMfYmlxTnJENXNiOEU" alt="saibaba" style="float:right;">
                                           Lakshaarchana means respectful greetings addressed to God during a prayer.<br />
                                           Laksha (mean 1,00,000), Archana (honor, adore, offer, prayer). It is a ritual performed to request a pardon or special protection for the family and
                                           lineage. Chanting a mantra or the name of a deity, is the essential part of the practice. Lakshaarchana is offering 1,00,000 prayers to the Lord,
                                           asking Him for help and protection.
                                       </strong>
                                       <br /> Om Shirdi Vasaya Vidhmahe<br />
                                       Sachithanandaya Dheemahe<br />
                                       Thanno Sai Prachodayath!<br />

                                       <strong><em>Om Shirdi vasaya Vidhmahe Sachithanandaya Dheemahe Thanno Sai Prachodayath</em></strong>
                                      
                                    
                                       
                                   
                                
                          
                            
                       
                           <br/> <strong>Meaning :</strong>
                            Om, Let me meditate on the God who lives in Shirdi. Oh God, who is the ethereal truth and happiness , give me higher intellect , And let that Sai
                            illuminate my mind
                                <ul>
                            <li>Sanskrit word "Gayatri" means <strong>"Sat buddi-Righteous Knowledge"</strong>. Knowledge could be of many aspects but for welfare is Righteous. </li>                     
                                    <li> <strong>Gayatri mantra inspires righteous wisdom. Vedas are expansion of Gayatri Mantra.</strong></li>                
                                    <li>Swan as vehicle of Gayatri is a symbolic representation of a man with Righteous Power and Peace.</li>
                                    </ul>
                        
                            Meaning of Sachithananda - Existence, Consciousness, and Bliss" is a description of the subjective experience of    <a href="https://en.wikipedia.org/wiki/Brahman" target="_blank">Brahman</a>, This sublimely blissful experience of the boundless, pure consciousness is a
                            glimpse of ultimate reality<u></u><u></u><br/>
                        
                            <strong>Purpose :</strong>
                            The recitation of Sai Naam and/or Sai Gayatri Mantra is a powerful tool to offset the problems that plague the mankind<u></u><u></u>
                       
                            Becoming Radiant Divine light is the greatest benefit, but if that’s not enough for you, or you think it’s too far away, along the path to Divinity there
                            are many other benefits that you can enjoy sooner.<u></u><u></u><br/>
                       
                            Shirdi Sai: <br/>
                            
                                
                                    <ul>
                                        <li>
                                            Removes obstacles from your life<u></u><u></u>
                                        </li>
                                        <li>
                                            Protects you from danger<u></u><u></u>
                                        </li>
                                        <li>
                                            Brightens your mind.<u></u><u></u>
                                        </li>
                                        <li>
                                            Dispels ignorance and guides you To Self Realisation<u></u><u></u>
                                        </li>
                                        <li>
                                            Improves communication abilities<u></u><u></u>
                                        </li>
                                        <li>
                                            Opens your psychic vision<u></u><u></u>
                                        </li>
                                    </ul>
                                
                                
                               
                                Brings direct knowledge of the eternal truths which attains Real Happiness and Peace<u></u><u></u>

                                <div dir="ltr">
                                    <strong>
                                        <em>The Sai Gayatri Laksharchana is one of the sincere efforts by the Sai bandhu’s to reach out to Baba for the peace and happiness of all.</em>
                                    </strong>
                                </div>

</div>
                  
                </div>
            </div>
        </div>
    </div>

</div>
