
@{
    ViewBag.Title = "SaiGayatri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container bg-site">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Sai Gayatri
                <small>Viswa Sai Dwarakamai</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Sai Gayatri Laksharchana</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Sai Gayatri Laksharchana</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#" class="thumbnail">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://youtube.com/embed/AXFQoQa1npk"></iframe>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="thumbnail">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="http://docs.google.com/gview?url=https://drive.google.com/uc?id=0BynChJWS6JMfT1l1V1pxY2tzSmM&embedded=true"></iframe>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div>
                            <strong>Sai Gayatri Laksharchana:</strong>
                        </div>



                        <p class="text-justify">
                            <strong>
                                <img class="img-rounded img-responsive" src="https://drive.google.com/uc?id=0BynChJWS6JMfYmlxTnJENXNiOEU" alt="saibaba" style="float:right;">
                                Lakshaarchana means respectful greetings addressed to God during a prayer.<br />
                                Laksha (mean 1,00,000), Archana (honor, adore, offer, prayer). It is a ritual performed to request a pardon  or special protection for the family and
                                lineage. Chanting a mantra or the name of a deity, is the essential  part of the practice. Lakshaarchana is offering 1,00,000 prayers to the Lord,
                                asking Him for help  and protection.
                            </strong>
                            <br /> Om Shirdi Vasaya Vidhmahe<br />
                            Sarva Siddischa Dheemahe<br />
                            Thanno Sai Prachodayath!<br />
                            <strong><em>Om Shirdi vasaya Vidhmahe Sarva Siddischa Dheemahe Thanno Sai Prachodayath</em></strong>








                            <br /> <strong>Meaning :</strong>
                            Om, Let me meditate on the God who lives in Shirdi, Who is Sachidananda Parabrahma (Sat-Chit-Ananda is Self Existence, Eternal Consciousness and Eternal Bliss and Prarabrahma is Unparallel and the Highest Entity, Though Formless but manifests in various forms yet formless) and who possess All Siddhis and capable of granting them All or One.<br />                           
                            <br />

                           

                            <strong>Purpose :</strong>
                            The recitation of Sai Naam and/or Sai Gayatri Mantra is a powerful tool to offset the problems that plague the mankind<u></u><u></u>

                            <br />
                            <br/>

                            <strong> Shirdi Sai:</strong> <br />


                            <ul>
                                <li>
                                    Removes obstacles from your life<u></u><u></u>
                                </li>
                                <li>
                                    Protects you from danger<u></u><u></u>
                                </li>
                                <li>
                                    Brightens your mind.<u></u><u></u>
                                </li>
                                <li>
                                    Dispels ignorance and guides you To Self Realisation<u></u><u></u>
                                </li>
                                <li>
                                    Improves communication abilities<u></u><u></u>
                                </li>
                                <li>
                                    Opens your psychic vision<u></u><u></u>
                                </li>
                            </ul>



                            Brings direct knowledge of the eternal truths which attains Real Happiness and Peace<u></u><u></u>
                            <div dir="ltr">
                                <strong>
                                    <em>The Sai Gayatri Laksharchana is one of the sincere efforts by the Sai bandhu’s to reach out to Baba for the peace and happiness of all.</em>
                                </strong>
                            </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
