
@{
    ViewBag.Title = "Satcharitra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container bg-site">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Satcharitra
                <small>Viswa Sai Dwarakamai</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Satcharitra</li>
            </ol>
        </div>
    </div>
    @*<div class="thumbnail">*@
    <div class="row">
        <div class="col-md-12">
            <p class="text-justify">
                "Gurucharitra" and "Sai Satcharitra" will co-inside with each other in many aspects. "Gurucharitra" was written in 14th century; but the "Sai Satcharitra" was written in 19th century. Readers should keep it in mind the time-lag between these two books.
                If we read these two books simultaneously and compare the things, we can observe the purpose for which Dattatreya appeared before mankind as Shreepad Vallabh, resided at Narsoba Wadiand Nrisimha Saraswati Swamy, resided at Gangapur is the same, for which Sai Baba also appeared at Shirdi.
            </p>
</div>
    </div>
    
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Shiridi Sai Satcharitra</div>
                <div class="panel-body">
                    
                        <div class="col-md-12 text-justify">

                            <p class="text-justify">
                                When life of Sai Baba is being discussed, prime literature which comes to our mind is 'Shri Sai Satcharitra'. Though Sai Baba lived on alms and possessed nothing in the name of property, He left a great treasure for us in the form of ' Shri Sai Satcharitra '.
                                <br />
                                At the divine wish, Shri Hemadpant (Govindrao R. Dabholkar) was given Holy task of noting Sai Baba's supernatural deeds. Though considered as 'Biography' it is more of an 'Autobiography' written by Sai Baba Himself. He kept His boon bestowing Hand on Hemadpant's head and said, "Let him make a collection of stories and experiences, keep notes and memos. I will help him. But he should get rid of his ego, place (or surrender) it at My feet. He who acts like this in life, him I help the most. He is only an outward instrument. I should write My Autobiography Myself and satisfy wishes of My devotees. I shall Myself enter into him and shall Myself write My own life.Hearing My stories and teachings will create faith in devotees' hearts and they will easily get self-realization and bliss".
                            </p>
                            
                            <p class="text-justify">
                                Sai Baba always invited everyone to come, take and carry away 'cart loads' of treasure from His inexhaustible treasure house. It was Baba's advice to many of His devotees to read sacred text for specific period, usually a Saptah (Saptah means a week - consisting of seven days and reading was recommended for one whole week), to get their desires fulfilled. It may also be extended to three to four cycles of reading. 
                                                 </p>

                        </div>
                        <div class="col-md-4">
                            <ul>
                                <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/Hindi%20SaiSatcharit%20PDF/hindi.html" target="_blank" class="list-inline">Hindi</a></li>
                                <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/Marathi%20Saisatcharit%20(updated%20Oct'12)/Marathi.html" target="_blank" class="list-inline">Marathi</a></li>
                                <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/marathi_1930/marathi.html" target="_blank" class="list-inline">Marathi 1930</a></li>
                                <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/english_pdf/English.html" target="_blank" class="list-inline">English</a></li>
                                <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/telugu/telugu.html" target="_blank" class="list-inline">Telugu</a></li>
                                <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/tamil/sai%20satcharitra%20in%20tamil%20ex/tamil.html" target="_blank" class="list-inline">Tamil</a></li>
                                <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/Sree%20Sai%20Samartha%20Satcharita/shrisaisamrthchrita.html" target="_blank" class="list-inline">Shri Sai Samarth charita</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul>
                                <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/sindi/SINDI.html" target="_blank" class="list-inline">Sindi</a></li>
                                <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/gujrati/satcharitapage.html" target="_blank" class="list-inline">Gujrathi</a></li>
                                <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/bengali/adhyay.html" target="_blank" class="list-inline">Bengali</a></li>
                                <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/kannada/kannad.html" target="_blank" class="list-inline">Kannada</a></li>
                                <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/oriya/Odia.html" target="_blank" class="list-inline">Odia</a></li>
                                <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/Nepali/Nepali.html" target="_blank" class="list-inline">Nepali</a></li>
                                <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/punjabisatcharitra/punjabi.html" target="_blank" class="list-inline">Punjabi</a></li>
                            </ul>
                        </div>
                    
                </div>
            </div>
        </div>
        
        @*</div>
            <div class="row">*@
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Guru Charitra</div>
                <div class="panel-body">
                    <div class="col-md-12 text-justify">
                       
                        <p class="text-justify">
                            Sri Sai baba encounrged his devotees to read Sri Guru Charitra.
                            <br/>
                            In the year 1908 Kusha Bhau came to Shirdi. On seeing him Sai Baba was wild with rage and would not allow him to enter the mosque, unless the visitor chose to give up his weird practices and leave off the power at the holy river Godavari. Kusha Bhau vacillated for some time and, after much inner struggle, had to give in. He went to the Godavari, threw away the iron bangle on his right hand, and taking the holy water in his palms, he vowed to give up all his occult powers as directed by Sai Baba. To his amazement, he discovered that he could no longer produce such material objects by a wave of his hand. Henceforth, Sai Baba allowed him to visit him at the mosque, and asked him to sit in a corner of the Masjid and make the Parayan of the Dasbodh. Sai Baba said, ‘‘Parayan of the Sacred Text is what will come to his rescue in the end.’’ Sai Baba later blessed him with the powers to produce Sacred Udi from his bare arm.
                            Dasbodh is a well-known magnum opus of Ramdas Swami (1608-81). It is an independent treatise which took 50 years of his life. It is a dialogue between a teacher and a disciple, illustrating the path of Bhakti (devotion). Consisting of 20 parts, with 7751 Ovis (verses),Dasbodh deals with a lot of conventional philosophical issues like the nature of Atman (self),Dnyan (knowledge), Bhakti (devotion), death and renunciation.
                        </p>
                       
                        <p class="text-justify">
                            Sai Baba then instructed him to do 108 Parayans of Shri Guru Charitra, taking 3 days for eachParayan, and Kusha Bhau did this at Gangapur and stayed there for 10 months for this purpose.
                        </p>
                       
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>
                                    <a href="https://drive.google.com/open?id=0BynChJWS6JMfSDVYTVlkMUVvc0k" target="_blank" class="list-inline">Telugu</a>
                                </li>
                                <li>
                                    <a href="https://drive.google.com/open?id=0BynChJWS6JMfRUdSWlB4WFdJd2c" target="_blank" class="list-inline">English</a>
                                </li>


                            </ul><br />
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Shri Sainath Stavan Manjari</div>
                <div class="panel-body">
                    <div class="col-md-12 text-justify">
                        <h5><b>A HUMBLE TRIBUTE OF PRAISE TO SHRI SAINATH</b></h5>
                        <p class="text-justify">
                            Sainath Stavan Manjari by Dasaganu Maharaj was completed on September 9/9/1918 at

                            Maheshwar near Indore on the bank of river Narmada just 37 days before Baba took

                            Mahasamadhi on 15th October 1918. This hymn is a humble tribute to Shri Sainath. It is very

                            unique and heart melting composition which consists of 164 Slokas. Starting with invoking Lord

                            Ganesh and other deities, the tribute to Baba starts subtly in the fifth sloka without naming him

                            but calling him as Vishnu and Shankar. Baba is named only in the 13th sloka. Here Dasaganu

                            persistently plea to Baba is to cleanse him of his sins and to help him and all the devotees to

                            overcome their worldly and spiritual difficulties.
                        </p>
                        <p class="text-justify">
                            Dasa Ganu Maharaj attained Samadhi in 1963 on Kartik Ekadashi at the age of 95. His samadhi

                            is at Gortha.
                        </p>
                        <p class="text-justify">
                            This is Sai devotee&#39;s favourite and many have been benefited by it. If not recited daily, Sai

                            devotees can recite it on every Thursday and on Ekadashi day as mentioned below in the

                            composition (11th day of full moon phase and 11th day of no moon phase). After devotees hear

                            this, those who do not understand, can understand from the following translation of the entire

                            composition by Smt.Zarine Taraporevala.
                        </p>
                    </div>
                    
                        <div class="col-md-12">
                            <ul>
                                <li>
                                    <a href="https://drive.google.com/open?id=0BynChJWS6JMfZExKaERFdTlNNFU" target="_blank" class="list-inline">Telugu</a>
                                </li>
                                <li>
                                    <a href="https://drive.google.com/open?id=0BynChJWS6JMfemQwdDVEU01FaFU" target="_blank" class="list-inline">Hindi</a>
                                </li>
                                <li>
                                    <a href="https://drive.google.com/open?id=0BynChJWS6JMfbzItQXlKTVFjdXc" target="_blank" class="list-inline">English</a>
                                </li>
                                <li>
                                    <a href="https://drive.google.com/open?id=0BynChJWS6JMfbHEtcGEtQ3BpelE" target="_blank" class="list-inline">Tamil</a>
                                </li>
                                <li>
                                    <a href="https://drive.google.com/open?id=0BynChJWS6JMfRkdadnIwSVhNT00" target="_blank" class="list-inline">Kanada</a>
                                </li>
                            </ul>
                        </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Vishnu Sahasthranamam</div>
                <div class="panel-body">
                    
                  
                        <div class="col-md-12">
                            <p class="text-justify">
                                Once, Sai Baba insistently told Shama to read Vishnu Sahasranam, and said, “Oh Shama, this Book is very valuable and efficacious. So, I present it to you; you read it ! Once, I suffered intensely and my heart began to palpitate and my life was in danger. At that critical time, I hugged this Holy Book to my heart, and then, O Shama ! what a relief it gave me ! I thought that Allah Himself came down on the soil of Shirdi and saved me. So, I give this to you; read it slowly, little by little, read daily one Name at least and it will do you good.” (Shri Sai Sat Charita, Chapter 27)
                                Interestingly, once a Sikh lady, whose planet mercury was badly disposed or inflicted, came to her Guru for consultancy. The Guru asked her if she could recite the Vishnu Sahasranam.
                                </p>
                            <p class="text-justify">
                                Recitation of God’s glories eradicates evil in us and gives us a chance to reconnect with the divine within. Vishnu Sahasranam Mahatmya aptly illustrates the benefits of Sahasranam’s recital :
                                “That man who with devotion and perseverance recites these names wholeheartedly every day, after having purified himself, succeeds in acquiring great fame, a position of eminence among his kinsmen, enduring prosperity, and emancipation. Such a man never meets with fear at any time, and acquires great prowess and energy. Disease never afflicts him; splendor of complexion, strength, beauty, and accomplishments become his. The sick become hale, the afflicted become freed from their afflictions; the affrighted become freed from fear, and he that is plunged in calamity becomes freed from calamity.
                                That man who with devotion and faith recites this hymn succeeds in acquiring felicity of soul, forgiveness of disposition, prosperity, intelligence, memory, and fame. Neither wrath, nor jealousy, nor cupidity, nor evil understanding ever appears in those men of righteousness.”
                                </p>
                                <ul>
                                    <li>
                                        <a href="https://drive.google.com/open?id=0BynChJWS6JMfTDhib0RzeXdLTGc" target="_blank" class="list-inline">Vishnu Sahasranamam Lyrics in Telugu</a>
                                    </li>
                                    <li>
                                        <a href="https://drive.google.com/open?id=0BynChJWS6JMfajg1dklwNFI0ZDg" target="_blank" class="list-inline">Vishnu Sahasranamam Audio</a>
                                    </li>
                                </ul>
</div>
                    
                </div>
            </div>
        </div>
    </div>
    @*</div>*@
</div>