
@{
    ViewBag.Title = "Satcharitra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container bg-site">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Sai Satcharitra
                <small>Viswa Sai Dwarakamai</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Sai Satcharitra</li>
            </ol>
        </div>
    </div>
    @*<div class="thumbnail">*@
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Sai Satcharitra</div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/Hindi%20SaiSatcharit%20PDF/hindi.html" target="_blank" class="list-inline">Hindi</a></li>
                                    <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/Marathi%20Saisatcharit%20(updated%20Oct'12)/Marathi.html" target="_blank" class="list-inline">Marathi</a></li>
                                    <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/marathi_1930/marathi.html" target="_blank" class="list-inline">Marathi 1930</a></li>
                                    <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/english_pdf/English.html" target="_blank" class="list-inline">English</a></li>
                                    <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/telugu/telugu.html" target="_blank" class="list-inline">Telugu</a></li>
                                    <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/tamil/sai%20satcharitra%20in%20tamil%20ex/tamil.html" target="_blank" class="list-inline">Tamil</a></li>
                                    <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/Sree%20Sai%20Samartha%20Satcharita/shrisaisamrthchrita.html" target="_blank" class="list-inline">Shri Sai Samarth charita</a></li>
                                @*</ul>
                            </div>
                            <div class="col-md-6">
                                <ul>*@
                                    <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/sindi/SINDI.html" target="_blank" class="list-inline">Sindi</a></li>
                                    <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/gujrati/satcharitapage.html" target="_blank" class="list-inline">Gujrathi</a></li>
                                    <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/bengali/adhyay.html" target="_blank" class="list-inline">Bengali</a></li>
                                    <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/kannada/kannad.html" target="_blank" class="list-inline">Kannada</a></li>
                                    <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/oriya/Odia.html" target="_blank" class="list-inline">Odia</a></li>
                                    <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/Nepali/Nepali.html" target="_blank" class="list-inline">Nepali</a></li>
                                    <li><a href="https://www.shrisaibabasansthan.org/shri%20saisatcharitra/punjabisatcharitra/punjabi.html" target="_blank" class="list-inline">Punjabi</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        @*</div>
        <div class="row">*@
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">Shri Sainath Stavan Manjari</div>
                    <div class="panel-body">
                        <div class="col-md-12 text-justify">
                            <h5><b>A HUMBLE TRIBUTE OF PRAISE TO SHRI SAINATH</b></h5>
                            <p class="text-justify">
                                Sainath Stavan Manjari by Dasaganu Maharaj was completed on September 9/9/1918 at

                                Maheshwar near Indore on the bank of river Narmada just 37 days before Baba took

                                Mahasamadhi on 15th October 1918. This hymn is a humble tribute to Shri Sainath. It is very

                                unique and heart melting composition which consists of 164 Slokas. Starting with invoking Lord

                                Ganesh and other deities, the tribute to Baba starts subtly in the fifth sloka without naming him

                                but calling him as Vishnu and Shankar. Baba is named only in the 13th sloka. Here Dasaganu

                                persistently plea to Baba is to cleanse him of his sins and to help him and all the devotees to

                                overcome their worldly and spiritual difficulties.
                            </p>
                            <p class="text-justify">
                                Dasa Ganu Maharaj attained Samadhi in 1963 on Kartik Ekadashi at the age of 95. His samadhi

                                is at Gortha.
                            </p>
                            <p class="text-justify">
                                This is Sai devotee&#39;s favourite and many have been benefited by it. If not recited daily, Sai

                                devotees can recite it on every Thursday and on Ekadashi day as mentioned below in the

                                composition (11th day of full moon phase and 11th day of no moon phase). After devotees hear

                                this, those who do not understand, can understand from the following translation of the entire

                                composition by Smt.Zarine Taraporevala.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li>
                                        <a href="https://drive.google.com/open?id=0BynChJWS6JMfZExKaERFdTlNNFU" target="_blank" class="list-inline">Telugu</a>
                                    </li>
                                    <li>
                                        <a href="https://drive.google.com/open?id=0BynChJWS6JMfemQwdDVEU01FaFU" target="_blank" class="list-inline">Hindi</a>
                                    </li>
                                    <li>
                                        <a href="https://drive.google.com/open?id=0BynChJWS6JMfbzItQXlKTVFjdXc" target="_blank" class="list-inline">English</a>
                                    </li>
                                    <li>
                                        <a href="https://drive.google.com/open?id=0BynChJWS6JMfbHEtcGEtQ3BpelE" target="_blank" class="list-inline">Tamil</a>
                                    </li>
                                    <li>
                                        <a href="https://drive.google.com/open?id=0BynChJWS6JMfRkdadnIwSVhNT00" target="_blank" class="list-inline">Kanada</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    @*</div>*@

</div>