
@{
    ViewBag.Title = "Services";
}

<div class="container bg-site">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Services
                <small>Viswa Sai Dwarakamai</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Services</li>
            </ol>
        </div>
    </div>
    <div class="thumbnail">
        <div class="row">
            <div class="col-md-12">
                <h2>Services</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-justify">
                <p class="text-justify">
                    Viswa Sai Dwarakamai Organisation are extremely committed to serving the needs of the poor people & protecting the ecosystems of different countries. A few of the ways this is done include:
                </p>
                <p class="text-justify">
                    The body has to be utilized for service to others. More bliss can be got from serving others than from merely serving oneself.
                </p>
                <p class="text-justify">
                    The service of man is the only means by which you can serve God
                </p>
            </div>
            <div class="col-md-6">
                <img src="~/Images/Phtoos/Services_01_750x450.png" class="img-responsive" />
            </div>
        </div>
    </div>
    <div class="thumbnail">
        <div class="row">
            <div class="col-md-12">
                <h2>Homeless people:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-justify">
                <p class="text-justify">
                    Many other people also have little or no resources, and live on the street. We all as a family collect the funds and our some of the Sai devotees will purchase and we all together distribute blankets, clothes, sweaters and food.
                    We did this volunteering in US: California, Canada: Montreal, Toronto, India: Hyderabad
                </p>
            </div>
            <div class="col-md-6">
                <img src="~/Images/services/homeless.jpg" class="img-responsive" />
            </div>
        </div>
    </div>
    <div class="thumbnail">
        <div class="row">
            <div class="col-md-12">
                <h2>Plantation</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/Images/services/plantationservice.jpg" class="img-responsive" />
            </div>
            <div class="col-md-6 text-justify">
                <p class="text-justify">
                    Planting at McClellan Ranch Preserve with Acterra Stewardship Program
                </p>
                <p class="text-justify">
                    VSD group
                </p>
                <p class="text-justify">
                    A member organization of the Acterra Stewardship Program Campaign, Embracing the World has organized the planting of more than a million trees globally since 2009. Individual volunteers pledge to care for the saplings they have planted for the first year of its life, helping to ensure that the tree will survive and prosper. It is the experience and lessons learned by our volunteers around the world that enabled us to announce a new pledge to plant six million trees worldwide. It aims to improve public health and restore India’s physical beauty.
                </p>
                <p>
                    Volunteers help with habitat restoration work such as removing invasive plants, mulching, and installing native plants.
                </p>
            </div>
        </div>
    </div>
    <div class="thumbnail">
        <div class="row">
            <div class="col-md-12">
                <h2>Food for Animals:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 text-justify">
                <p>“When you love and look after an animal, you help to lift the whole of creation.  If you cannot care for an animal, then at least feed the birds and wild creatures.”</p>
            </div>
            <div class="col-md-4">
                <img src="~/Images/services/animals.jpeg" class="img-responsive" />
            </div>
        </div>
    </div>
    <div class="thumbnail">
        <div class="row">
            <div class="col-md-12">
                <h2>Education for Blind:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-justify">
                <p class="text-justify">
                    <h3>Scholarships:</h3>
                </p>
                <p class="text-justify">
                    We helped Devnar School for the Blind in India
                </p>
                <p class="text-justify">
                    •	Sponsored a child by donating for his academic year individually or collectively;
                </p>
                <p class="text-justify">
                    •	sponsored a child for academic & food by donating per year
                </p>
            </div>
        </div>
    </div>
</div>

