<div class="panel panel-primary">
    <div class="panel-heading">Settings</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>
                        @Html.ActionLink("Events", "Index", "Settings")
                    </li>
                    <li>
                        @Html.ActionLink("Configs", "Index", "SiteConfigs")
                    </li>
                    <li>
                        @Html.ActionLink("Videos", "Index", "Videos")
                    </li>
                    <li>
                        @Html.ActionLink("Photos", "Index", "Photos")
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
